.card
    display: flex
    flex-direction: column
    padding: 10px
    .card-footer
        display: inline-flex
        flex-direction: row
        justify-content: flex-start
        align-items: center