.article-page
    display: flex
    flex-direction: column
    .banner
        display: flex
        flex-direction: column
        margin: 2% 0
        background: rgba(51,51,51,1)
    .article-content
        margin: 0
        padding: 1rem